*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border: 0.5px solid grey;
  border-radius: 10px;
  width: 20em;
  padding: 10px;
  margin-top: 2em;
  margin-bottom: 3em;
}
.new-todo {
  max-width: 80%;
  width: 100%;
  padding: 0 1em;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.TodoList {
  width: 100%;
}
.TodoList:hover {
  transition: all 1s ease-in;
}
.toggle-btns {
  transition: all 0.2s ease-in;
  border: none;
  width: 100%;
  display: inline;
  background-color: rgb(208, 230, 207);
}

.filter-btn {
  background-color: Transparent;
  padding: 0 1em;
  font-weight: 700;
  color: #000;

  transform: translate(0, -60%);
  margin-top: 2em;
  border: none;
  cursor: pointer;
}
.toggle-btns:hover {
  background-color: rgb(117, 212, 112);
}
.filter-btn:hover {
  color: #eee;
  font-weight: 800;
  transition: all 0.2s ease-in;
}
.todo {
  margin: 0.5rem;
  background: rgb(166, 228, 161);
  font-size: 1.5rem;
  color: black;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
  list-style: none;
}
.todo:hover {
  transition: all 1s ease-in-out;
}
.fa-check {
  color: green;
  font-size: 15px;
}
.fa-xmark {
  color: red;
  font-size: 15px;
  margin: 0 2px;
}
.todo-btns {
  margin-right: 1em;
}
.todo-button {
  padding: 3px;
  margin: 2px;
  margin-right: em;
}

.footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 2em;
  font-size: 0.8em;
  background-color: rgb(208, 230, 207);
}
.footer-section {
  display: flex;
  justify-content: space-between;

  align-items: center;
  gap: 5px;
}
